/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body { 
	margin: 0; 
	padding: 0; 
	overflow-x: hidden;
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(90deg, #857070, #8b9996, #928492);
} 
/* Header Navbar Styles */
.navbar { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	position: absolute;  
	top: 0; 
	z-index: 99;
	width: 100vw; 
	background-image: linear-gradient(90deg, #0a0101, #0f201d, #221022);
	background-color: transparent; 
} 

.logo { 
	padding: 0 5rem; 
} 

.logo .logo-heading { 
	color: #fff;
} 

.menu { 
	padding: 0 5rem; 
} 

.hamburger { 
	display: none; 
	color: #fff; 
	font-size: 25px; 
} 

.cross-icon { 
	display: none; 
} 

.menu .menu-list { 
	display: flex; 
	list-style: none; 
} 

.menu-list .menu-list-items { 
	padding: 0.5rem 1rem; 
} 

@media screen and (min-width: 856px) and (max-width: 1024px) { 
	.menu-list .menu-list-items { 
		padding: 0.5rem 0.3rem; 
	} 
} 

/* Main Hero Section Styles */
.hero { 
	width: 100vw; 
	height: 100vh; 
	display: flex; 
	align-items: center; 
	justify-content: start; 
	margin: 4.8rem 0;
	color: white;
    background-image: linear-gradient(30deg, #252122, #85447a, #8bb6c4);
} 
.hero .intro { 
	/* transform: translateY(70px);
	transition: opacity 0.7s ease-out, transform 0.7s ease-out;  */
	text-align: center; 
	margin: 0 5rem; 
}
.intro.after{
	opacity: 1;
}

.hero .intro-buttons { 
	margin: 2rem 0; 
	display: flex; 
	align-items: center; 
	justify-content: space-evenly; 
} 

.profile{
    height: 40rem;
    max-width: 100%;
    
}
#dynamic-text {
	color: #3498db;
  }
  
  .cursor {
	display: inline-block;
	background-color: #3023eb;
	width: 0px;
	margin-left: 5px;
	animation: blink 0.7s steps(1) infinite;
  }
  
  @keyframes blink {
	50% {
	  opacity: 0;
	}
  }
  

/* Styles for hire me button*/
  .form-popup {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	justify-content: center;
	align-items: center;
  }
  
  .form-container {
	width: 30vw;
	background: linear-gradient(#212121, #212121) padding-box,
				linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
	border: 2px solid transparent;
	padding: 32px 24px;
	font-size: 14px;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 30px;
	box-sizing: border-box;
	border-radius: 16px;
  }
  
  .form-group {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 4px;
  }
  
  .form-group label {
	margin-bottom: 5px;
	color: #717171;
	font-weight: 600;
	font-size: 12px;
  }
  
  .form-group input {
	width: 90%;
	padding: 12px 16px;
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid #414141;
	color: #fff;
  }
  
  .form-group input:focus {
	outline: none;
	border-color: #e81cff;
  }
  
  .form-submit-btn, .form-close-btn {
	padding: 12px 16px;
	border-radius: 6px;
	border: 1px solid #414141;
	background: #313131;
	color: #717171;
	font-weight: 600;
	cursor: pointer;
	margin-top: 8px;
  }
  
  .form-submit-btn:hover, .form-close-btn:hover {
	background-color: #fff;
	color: #000;
	border-color: #fff;
  }

  

/* About section styles */
#about { 
	width: 100vw; 
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	color: white;  
	background-color:#072736;
	
}
.timeline{
	width:100vw;
	color:#fff;
	padding:30px 30px 10px 50px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
  }
  .timeline ul{
	list-style-type:none;
	border-left:2px solid #094a68;
	padding:10px 5px;
  }
  .timeline ul li{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
  }
  .timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:2px 5px;
	font-size:15px;
	text-align:center;
  }
  .timeline ul li .content h3{
	color:#34ace0;
	font-size:17px;
	padding-top:5px;
  }
  .timeline ul li .content p{
	padding:5px 0px 15px 0px;
	font-size:15px;
  }
  .timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
  }
  .timeline ul li:hover{
	background-color:#071f2a;
  }
  .timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
  }
  @media (max-width:400px){
	.timeline{
	  width:90%;
	  padding:20px 5px 30px 20px;
	}
	.timeline ul li .content h3{
	  color:#34ace0;
	  font-size:15px;
	}
  
  }

/* Portfolio section styles */
.portfolio { 
	margin: 3.5rem ; 
	padding: 0 5rem; 
	background: rgb(47, 64, 73);
	color: white;
	padding-left: 8rem;
	border-radius: 10px;
	box-shadow:10px 10px 10px 10px #4c4c57
}   
.my-heading{
	border-bottom: 5px solid red;
}
.port-heading{
	background: white;
	padding: 5px;
	width: 100%;
	box-shadow: 6px 6px rgb(51, 45, 45);
}
#video{
	background-image: url(../images/video-editing.jpeg);
}
#wordpress{
	background-image: url(../images/word-press.jpeg);
}
#contentWriting{
	background-image: url(../images/content-writing.jpeg);
}
#seo{
	background-image: url(../images/seo.jpeg);
}
#webdev{
	background-image: url(../images/webdev.jpeg);
}
#webdesign{
	background-image: url(../images/webdesign.jpeg);
}

/* Services section styles */
.services {
	width: 100vw;
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
	margin: 4.8rem 0; 
	margin-top: 0px;
	background: #071f2a;
	color: white;
} 

.my-row { 	
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 

.my-row .my-col {
	transform: translateY(70px);
	transition: opacity 0.7s ease-out, transform 0.7s ease-out; 
	text-align: center; 
	width: 30%; 
}
.my-col.show {
	opacity: 1;
	transform: translateY(0);
  } 

.my-card { 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-radius: 20px; 
	background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C); 
	padding: 1rem; 
} 

.icon { 
	height: 100px; 
	width: 100px; 
	border-radius: 50%; 
	background-color: #363D73; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.icon svg { 
	font-size: 30px; 
	color: #fff; 
} 

/* Contact section styles */
.contact { 
	padding: 0 5rem;
} 

.contact-content { 
	display: flex; 
	margin: 3rem 0; 
	justify-content: space-between; 
} 

.contact-form-container { 
	width: 50%; 
} 

.contact-form { 
	display: flex; 
	flex-direction: column; 
} 

.contact-form .form-controls { 
	width: 80%; 
	padding: 10px 0; 
	margin: 1.67rem 0; 
} 

.contact-form .form-btn { 
	width: 83%; 
} 

.contact-details { 
	width: 50%; 
} 

/* Footer Styles */
.footer { 
	width: 100vw;
	background-color: #000; 
	color: #fff; 
	padding: 2rem; 
} 

.footer-list-items { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 50px; 
	width: 50px; 
	margin: 1rem 1rem 0 1rem; 
	border-radius: 50%; 
	background-color: #53C8B6; 
}

.footer-list-items:hover{
	background-color: #a935a3;
	transform: scale(1.2);
}

.footer-links { 
	font-size: 24px; 
	color: #fff; 
	text-decoration: none; 
} 

.social-links { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.footer-menu { 
	padding: 0 5rem; 
} 

.footer-menu .footer-menu-list { 
	display: flex; 
	list-style: none; 
} 






/* utility classes */
.greet-heading { 
	font-size: 1.3rem; 
	font-weight: lighter; 
	margin: 0; 
	letter-spacing: 1px; 
} 

.my-heading { 
	font-size: 2.5rem; 
	margin: 0; 
} 

.sub-heading { 
	margin: 0; 
	font-size: 0.8rem; 
	color: #ccc; 
	font-weight: lighter; 
} 

.links:hover { 
	border-bottom: 2px solid #fff; 
} 

.links { 
	border-bottom: 2px solid transparent; 
	transition: all 0.25s; 
	padding: 5px; 
	text-decoration: none; 
	color: #fff; 
} 

.btn { 
	padding: 10px 20px; 
	border-radius: 5px; 
	cursor: pointer; 
	letter-spacing: 1px; 
	border: none; 
}  

.heading-span { 
	font-weight: bolder; 
} 

.text-center { 
	text-align: center; 
} 

.small-para { 
	font-size: 14px; 
	color: #fff; 
} 

.white-text { 
	color: #fff; 
} 

.blue-text { 
	color: #363D73; 
}


/* back to top button styling */

#backToTopBtn {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: none; 
	position: fixed; 
	bottom: 20px; 
	right: 30px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: #752020;
	color: white;
	cursor: pointer;
	padding: 15px;
	font-size: 24px; 
  }
  
  #backToTopBtn:hover {
	background-color: #0d51cf; /* Darker background on hover */
  }
